<div style="background: #323A41;">
<div class=" container-lg p-5" style=" justify-content: center;  display: flex; flex-wrap: wrap; margin: auto; background: #323A41;">
<%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 12rem; border-radius: 50%;">` : `<img src="https://media.discordapp.net/attachments/817164668488777748/817164691121504316/4fp9gv.png?width=503&height=495" class="card-img-top" style="max-width: 12rem; border-radius: 50%;">` %>
<h4 style="padding-left: 2rem; color: #fff; font-size: 2rem; text-aling: right; max-width: 14rem;"><%= guild.name %></h4>

<div class="justify-space-evenly d-flex m-auto text-center">

<ul class="list-group">
 	<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    	<p class="pe-3 fw-bold" style="color: #fff;">Miembros<p>
    	<span style="background: #3C96E6;" class="badge rounded-pill"><%- members %></span>
  	</li>
  	<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    	<p class="pe-3 fw-bold" style="color: #fff;">Bots<p>
    	<span style="background: #3C96E6;" class="badge rounded-pill"><%- membersbot %></span>
  	</li>
  	<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    	<p class="pe-3 fw-bold" style="color: #fff;">Canales de texto<p>
    	<span style="background: #3C96E6;" class="badge rounded-pill"><%- channel %></span>
  	</li>
</ul>

<ul class="list-group">
 	<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    	<p class="pe-3 fw-bold" style="color: #fff;">Canales de voz<p>
    	<span style="background: #3C96E6;" class="badge rounded-pill"><%- voicechannel %></span>
  	</li>
  	<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    	<p class="pe-3 fw-bold" style="color: #fff;">Emojis<p>
    	<span style="background: #3C96E6;" class="badge rounded-pill"><%- emoji %></span>
  	</li>
  	<li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
    	<p class="pe-3 fw-bold" style="color: #fff;">Roles<p>
    	<span style="background: #3C96E6;" class="badge rounded-pill"><%- roles %></span>
  	</li>
</ul>

</div>

</div>





  			

<div class="container-sm overflow-hidden" style="background: #323A41;">
	<div class="configuration">
		<div class="p-5 m-auto ">
			<h1 style="color: #fff; font-size: 2rem;"><i class="fas fa-wrench p-3" style="font-size: 2rem; background: #3C96E6; border-radius: 12%;"></i> Servidor</h1>
			<p class="fw-bold" style="color: #fff; font-size: 1.1rem;">Selecciona la opción que quieras personalizar en los diferentes módulos disponibles.</p>
		</div>
		<div class="justify-space-evenly d-flex m-auto flex-wrap block align-self-center text-center">
			
		
		<div class="col-sm-4 p-5 m-auto">
    		<div class="img-md" style="background: transparent;">
      			<div class="card p-1" style="background: #3F454B;">
      				<div class="card-body">
        				<p class="card-text fw-bold text-start" style="color: #fff;">Bienvenidas<br><br>Configura todo lo relacionado con el sistema de bienvenidas.</p>
        				<a href="/dashboard/<%- guild.id %>/welcome/" class="btn btn-success">Entrar</a>
      				</div>
    			</div>
    		</div>
  		</div>

  		<div class="col-sm-4 p-5 m-auto">
    		<div class="img-md" style="background: transparent;">
      			<div class="card p-1" style="background: #3F454B;">
      				<div class="card-body">
        				<p class="card-text fw-bold text-start" style="color: #fff;">Bienvenidas<br><br>Configura todo lo relacionado con el sistema de bienvenidas.</p>
        				<a href="#" class="btn btn-success">Entrar</a>
      				</div>
    			</div>
    		</div>
  		</div>

  		<div class="col-sm-4 p-5 m-auto">
    		<div class="img-md" style="background: transparent;">
      			<div class="card p-1" style="background: #3F454B;">
      				<div class="card-body">
        				<p class="card-text fw-bold text-start" style="color: #fff;">Bienvenidas<br><br>Configura todo lo relacionado con el sistema de bienvenidas.</p>
        				<a href="#" class="btn btn-success">Entrar</a>
      				</div>
    			</div>
    		</div>
  		</div>

  		<div class="col-sm-4 p-5 m-auto">
    		<div class="img-md" style="background: transparent;">
      			<div class="card p-1" style="background: #3F454B;">
      				<div class="card-body">
        				<p class="card-text fw-bold text-start" style="color: #fff;">Bienvenidas<br><br>Configura todo lo relacionado con el sistema de bienvenidas.</p>
        				<a href="#" class="btn btn-success">Entrar</a>
      				</div>
    			</div>
    		</div>
  		</div>

		</div>
	</div>



	<div class="p-5 m-auto">
	<h1 style="color: #fff; font-size: 4rem;"><i class="fas fa-wrench p-3" style="font-size: 3rem; background: rgb(5, 100, 224); border-radius: 12%;"></i> Servidor</h1>
	<p style="color: #fff;">Selecciona la opción que quieras personalizar en los diferentes módulos disponibles.</p>
	</div>

	<div class="p-5 m-auto">
	<h1 style="color: #fff; font-size: 4rem;"><i class="fas fa-wrench p-3" style="font-size: 3rem; background: rgb(5, 100, 224); border-radius: 12%;"></i> Servidor</h1>
	<p style="color: #fff;">Selecciona la opción que quieras personalizar en los diferentes módulos disponibles.</p>
	</div>

	<div class="p-5 m-auto">
	<h1 style="color: #fff; font-size: 4rem;"><i class="fas fa-wrench p-3" style="font-size: 3rem; background: rgb(5, 100, 224); border-radius: 12%;"></i> Servidor</h1>
	<p style="color: #fff;">Selecciona la opción que quieras personalizar en los diferentes módulos disponibles.</p>
	</div>

	<div class="p-5 m-auto">
	<h1 style="color: #fff; font-size: 4rem;"><i class="fas fa-wrench p-3" style="font-size: 3rem; background: rgb(5, 100, 224); border-radius: 12%;"></i> Servidor</h1>
	<p style="color: #fff;">Selecciona la opción que quieras personalizar en los diferentes módulos disponibles.</p>
	</div>

</div>
</div>