<div style="background: #2C2C2C;">

<%- include("partials/header", { bot, user, path, title: "Azami - Selecciona un servidor" }) %>



<section class="p-5" style="background: #2C2C2C;">
  <div id="sobre" class="block pt-5">
      <div class="container">
            <% if (user.avatar) {
              avatar = "https://cdn.discordapp.com/avatars/" + user.id + "/" + user.avatar + ".png?size=128";
            } else {
              avatar = "https://cdn.glitch.com/82fe990a-7942-42e3-9790-39807ccdb9f6%2Ficon-404.png?v=1602412158188";
            }
            %>
        <div class="row" style="color: rgb(5, 100, 224); font-size: 2rem; font-weight: 700;">
        <img style="width: 16%; border-radius: 16%;" src="<%= avatar %>"/>
          <%= user.username  %>#<%= user.discriminator %>,
          </div>
          <p style="font-weight: 400; font-size: 1.2rem; color: #fff;" class="pb-2 border-bottom" >Estos son los servidores en los que estás:</p>
        </div>
      </div>
    </div>
</section>

<div style="background: #2C2C2C;">
<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <% user.guilds.forEach(guild => {
      const permsOnGuild = new perms(guild.permissions);
      if(!permsOnGuild.has("MANAGE_GUILD")) return;
  %>
    <div class="card bg-dark" style="max-width: 18rem; margin: 2rem; min-width: 12em;">
    <%- guild.icon ? `<img src="https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}" class="card-img-top" style="max-width: 12rem;">` : `<img src="https://media.discordapp.net/attachments/817164668488777748/817164691121504316/4fp9gv.png?width=503&height=495" class="card-img-top" style="max-width: 12rem;">` %>
      <div class="card-body">
        <h5 class="card-title" style="font-size: 14px; color: #fff; max-width: 10rem; "><%= guild.name %></h5>
        <% if (bot.guilds.cache.get(guild.id)) { %>
          
          <a href="/dashboard/<%- guild.id %>" class="btn btn-success text-white">Centro de Control</a>
        <% } else { %>
          
          <a href="<%= `https://discordapp.com/oauth2/authorize?client_id=${bot.user.id}&scope=bot&guild_id=${guild.id}&response_type=code&redirect_uri=${encodeURIComponent(`${bot.config.domain}${bot.config.port == 80 ? "" : `:${bot.config.port}`}/callback`)}`  %>" class="btn btn-danger text-white">Invitar</a>
        <% } %>
      </div>
    </div>
  <%
      });
  %>
</div>
</div>



<%- include("partials/footer") %>
</div>